
h1.textCat {
  width: 45vw;
  height: 45vh;
  color:rgb(129, 148, 153);
  position: absolute;
  top: 40vh;
  left: 5vw;
  font-size: 30px;
}

button.btn.btn-outline-secondary {
  width: 250px;
  height: 50px;
  position: absolute;
  bottom: 40vh;
  left: 30vh;
  font-size: 25px;
}
 