div.inputSection.input-group {
    position: absolute;
    bottom: 5px;
    left:2.5vw;
    width: 95vw;
}

button.sendButton.btn.btn-info {
    width: 10vw;
    font-size: 18px;
}

html {
    background-image: url('./colorful-speech-bubbles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

