body {
    background: url('./gray-brick.jpg') no-repeat;
    background-size: cover;
}
h1.display-4 {
    color: white;
   position: absolute;
   margin-top: 20px;
   left: 8vh;
}
.questDiv {
    left: 2vw;
    padding-top: 75px;
    width: 45vw;
    
    
}

div.question {
    top: 100px;
}

.question {
    font-size: 25px;
    color: lightgray;
    padding-top: 45px;
    margin-left: 20px;
    position: absolute;
    opacity: 0;  
    animation-name: leaf;
    animation-duration: 30s;
    /* animation: infinite; */

     
}

div.container {
   position: absolute;
   top: 0px;
   font-size: 18px;
   color: #878E95;
}

.card-title {
    font-size: 30px;
    text-align: center;  
}

::placeholder {
    font-size: 15px;
}

input {
    height: 25px;
    font-size: 100px;
}
.card {
    width: 50vw;
    height: 100vh;
    left: 49vw;
}
div.card-body {
    height: 84vh;
    background-color: rgb(225, 240, 245);
}
div.card-footer {
    background-color:rgb(225, 240, 245);
}
input[type="text"]
{
    font-size:15px;
}

@keyframes leaf {
      0%   {color: lightgray; top: 75px; opacity: 1;}
    25%  {color: lightslategray; top: 250px; font-size: 40px; }
    50%  {color: white; font-size: 30px;}
    100% {color: lightslategray; top: 900px; opacity: 0;}
}