body {
    background: url('./gray-brick.jpg') no-repeat;
    background-size: cover;
}
h1.display-4 {
    color: white;
   position: absolute;
   margin-top: 20px;
   left: 8vh;
}
div.container {
   position: absolute;
   left: 33vw;
   font-size: 18px;
   color: #878E95;
   text-align: center;
}

.card-title {
    font-size: 30px;
    
}

::placeholder {
    font-size: 15px;
}

input {
    height: 25px;
    font-size: 100px;
}

div.card-body {
    height: 84vh;
    background-color: rgb(225, 240, 245);
}
div.card-footer {
    background-color:rgb(225, 240, 245);
}
input[type="text"]
{
    font-size:15px;
}