h1.textEnt {
    font-size: 50px;
    font-weight: bolder;   
    width: 90vw;
    position: absolute;
    bottom: 12vh;
    left: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    opacity: 0.6;
  }

  .introImage {
   height: 100vh;
   
  }

 