h1.textEnt {
    font-size: 40px;
    font-weight: bolder;   
    width: 95vw;
    position: absolute;
    bottom: 20vh;
    left: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }

  h1.textSum {
    font-size: 25px;
    font-weight: bold;   
    width: 95vw;
    position: absolute;
    bottom: 15vh;
    left: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }

  .cover {
    background-color: #F2EBDC;
    height: 29vh;
    width: 100vw;
    position: absolute;
    bottom: 1px;
    
    opacity: 0.3
  }
  .introImage {
   height: 100vh;
   
  }

  button.btn.btn-outline-danger {
    width: 250px;
    height: 50px;
    position: absolute;
    bottom: 3vh;
    right: 80vh;
    font-size: 25px;
    border-color: black;
    color: black;
  }

  button.btn.btn-outline-danger:hover {
    background-color: black;
    color: wheat;
    border-color: wheat;
  }

 