 .intro {
    width: 100vw;
    height: 100vh;
    background-image: url('./candlesSparklers.jpg');
}

.title {
  position: absolute;
  font-size: 100px;
  top: 250px;
  left: 25px;
  color: rgb(216, 214, 158);
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
} 




.text-muted {
  position: absolute;
  top: 355px;
  left: 60px;
  font-size: 30px;
  color: rgb(216, 214, 158);
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-align: center
}


.buttonDropdown {
  position: absolute;
  top: 70vh;
  left: 4vw;
  height: 50px;
}

button.dropdown-toggle.btn.btn-secondary {
  width: 302px;
  background-color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 30px;
  color: #878E95;
}

@media (max-width:768px) {
  .title {font-size: 75px; left: 15px;}
  h3.text-muted {left: 15px;}
  .buttonDropdown {top:55vh;}
}

