 .intro {
    width: 100vw;
    height: 100vh;
    background-image: url('./candlesSparklers.jpg');
}

.title {
  position: absolute;
  font-size: 100px;
  top: 250px;
  left: 25px;
  color: rgb(216, 214, 158);
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
} 


.text-muted {
  position: absolute;
  top: 355px;
  left: 60px;
  font-size: 30px;
  color: rgb(216, 214, 158);
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  text-align: center
}


.buttonDropdown {
  position: absolute;
  top: 60vh;
}






