

h1.textNews  {
  width: 38vw;
  color: black;
  top: 28vh;
  left: 60px;
  position: absolute; 
  font-weight:  bold;
  font-size: 35px;

}

h3.textNews  {
  width: 38vw;
  color: black;
  top: 37vh;
  left: 60px;
  position: absolute;
  text-align: left;
  font-size: 25px;
}
  